<section class="carousel">

    <article class="images">
        <a routerLink="/articles/1">
            <article id="img1" class="img1 active">
                <img src="images/anuncios.jpg" alt="">
                <h1>Titulo del articulo</h1>
            </article>
        </a>

        <a routerLink="/articles/1">
            <article id="img2" class="img2 active">
                <img src="images/fashion.jpeg" alt="">
                <h1>Titulo del articulo</h1>
            </article>
        </a>

        <a routerLink="/articles/1">
            <article id="img3" class="img3 active">
                <img src="images/4kImage.jpg" alt="">
                <h1>Titulo del articulo</h1>
            </article>
        </a>

        <a routerLink="/articles/1">
            <article id="img1" class="img1 active">
                <img src="images/anuncios.jpg" alt="">
                <h1>Titulo del articulo</h1>
            </article>
        </a>

        <a routerLink="/articles/1">
            <article id="img5" class="img5 active">
                <img src="images/fashion.jpeg" alt="">
                <h1>Titulo del articulo</h1>
            </article>
        </a>

        <a routerLink="/articles/1">
            <article id="img1" class="img1 active">
                <img src="images/anuncios.jpg" alt="">
                <h1>Titulo del articulo</h1>
            </article>
        </a>

        <a routerLink="/articles/1">
            <article id="img1" class="img1 active">
                <img src="images/anuncios.jpg" alt="">
                <h1>Titulo del articulo</h1>
            </article>
        </a>

        <a routerLink="/articles/1">
            <article id="img6" class="img6 active">
                <img src="images/4kImage.jpg" alt="">
                <h1>Titulo del articulo</h1>
            </article>
        </a>
    </article>


    <article class="control">
        <button (click)="slideLeft()">←</button>
        <button (click)="slideRight()">→</button>
    </article>

</section>