<section class="carousel">

    <article class="images">


        @for (article of carouselArticles; track $index) {

            <a routerLink="/articles/{{article.id}}">

                <article id="img" class="img">
    
                    <section class="photo">
                        <img src="{{article.photo}}" alt="">
                    </section>
    
                    <section class="info">
                        <h1>{{article.title}}</h1>
                        <p>{{article.section}}</p>
                    </section>
    
                </article>
    
            </a>

        }

    </article>


    <article class="control">
        <button (click)="slideLeft()">←</button>
        <button (click)="slideRight()">→</button>
    </article>

</section>