<section class="carousel">

    <article class="images">


        <a routerLink="/articles/1">

            <article id="img6" class="img6 active">

                <section class="photo">
                    <img src="images/4kImage.jpg" alt="">
                </section>

                <section class="info">
                    <h1>Titulo del articulo</h1>
                    <p>Mucho más que anuncios</p>
                </section>

            </article>

        </a>

        <a routerLink="/articles/1">

            <article id="img6" class="img6 active">

                <section class="photo">
                    <img src="images/anuncios.jpg" alt="">
                </section>

                <section class="info">
                    <h1>Titulo del articulo</h1>
                    <p>The thought</p>
                </section>

            </article>

        </a>

        <a routerLink="/articles/1">

            <article id="img6" class="img6 active">

                <section class="photo">
                    <img src="images/fashion.jpeg" alt="">
                </section>

                <section class="info">
                    <h1>Titulo del articulo</h1>
                    <p>Dear fashion,</p>
                </section>

            </article>

        </a>

        <a routerLink="/articles/1">

            <article id="img6" class="img6 active">

                <section class="photo">
                    <img src="images/4kImage.jpg" alt="">
                </section>

                <section class="info">
                    <h1>Titulo del articulo</h1>
                    <p>Dear fashion,</p>
                </section>

            </article>

        </a>

        <a routerLink="/articles/1">

            <article id="img6" class="img6 active">

                <section class="photo">
                    <img src="images/anuncios.jpg" alt="">
                </section>

                <section class="info">
                    <h1>Titulo del articulo</h1>
                    <p>The thought</p>
                </section>

            </article>

        </a>

        <a routerLink="/articles/1">

            <article id="img6" class="img6 active">

                <section class="photo">
                    <img src="images/fashion.jpeg" alt="">
                </section>

                <section class="info">
                    <h1>Titulo del articulo</h1>
                    <p>The thought</p>
                </section>

            </article>

        </a>

        <a routerLink="/articles/1">

            <article id="img6" class="img6 active">

                <section class="photo">
                    <img src="images/4kImage.jpg" alt="">
                </section>

                <section class="info">
                    <h1>Titulo del articulo</h1>
                    <p>The thought</p>
                </section>

            </article>

        </a>

        <a routerLink="/articles/1">

            <article id="img6" class="img6 active">

                <section class="photo">
                    <img src="images/anuncios.jpg" alt="">
                </section>

                <section class="info">
                    <h1>Titulo del articulo</h1>
                    <p>The thought</p>
                </section>

            </article>

        </a>
    </article>


    <article class="control">
        <button (click)="slideLeft()">←</button>
        <button (click)="slideRight()">→</button>
    </article>

</section>