.carousel
        display: grid
        align-items: center
        gap: 1rem
        .images
            display: grid
            grid-template-columns: repeat(8,33%)
            overflow: hidden
            width: 100%
            gap: 1rem

            a
                text-decoration: none
                color: black

            .img1, .img2, .img3, .img4, .img5, .img6
                display: block
                position: relative
                top: 0
                transition: display 2s ease allow-discrete, opacity ease 2s, top ease 0.5s
                opacity: 1
                width: 100%
                &:hover
                    top: -30px

                

                img
                    aspect-ratio: 4/4
                    width: 100%
                    object-fit: cover

                h1
                    position: relative
                    top: -8rem
                    padding: 2rem
                    background: white
                    font-size: 3rem
                    width: 70%
                    margin: 0 auto
                    text-align: center
        
        .control
            position: relative
            top: -6rem
            display: flex
            justify-content: center
            gap: 2rem
            button
                border: solid transparent
                background:  transparent
                padding: 0 0.5rem
                font-size: 3rem
                transition: scale ease 0.33s, background ease 0.33s
                &:hover
                    scale: 130%
                    background: #9C1726

