$lg: 998px

header
    align-items: center
    background: white
    display: grid
    position: sticky
    top: 0
    z-index: 20
    justify-content: space-between
    grid-template-columns: repeat(3, 33%)
    width: 80%
    margin: 2rem auto

    .title
        h1
            font-family: "bodoniflf", serif
            font-size: 3rem
            text-align: center

@media (width<$lg)
    header
        position: relative
        display: grid
        grid-template-columns: auto
        justify-content: center
        align-items: center
        .title
            margin: 2rem auto
            h1
                font-family: "bodoniflf", serif
                font-size: 3rem
                text-align: center
