<article class="writerArticleList">

    <h1>Lista de artículos del escritor</h1>


    <section class="articles">
        @for (article of articles; track $index) {
        <a routerLink="/writer/articles/edit/{{article.id}}">
            <app-article-card routerLink="/writer/articles/edit/{{article.id}}" photo="{{article.photo}}"
                title="{{article.title}}" description="{{article.description}}"
                readTime="{{article.readTime}} minutos de lectura"></app-article-card>
        </a>
        }
    </section>
</article>