<article class="createArticle">

    <h1>Creación de artículo</h1>

    <form enctype="multipart/form-data" [formGroup]="createArticleForm">

        <app-input formControlName="title" label="Título" inputPlaceholder="Ingrese el título del artículo"
            inputType="text" [valid]="title.valid || title.pristine" />

        <app-input formControlName="short_title" label="Título de portada"
            inputPlaceholder="Ingrese el título de portada" inputType="text"
            [valid]="short_title.valid || short_title.pristine" />

        <app-input formControlName="description" label="Descripción"
            inputPlaceholder="Ingrese la descripción del artículo" inputType="text"
            [valid]="description.valid || description.pristine" />

        <app-input formControlName="readTime" label="Tiempo de lectura (minutos)"
            inputPlaceholder="Ingrese el tiempo de lectura" inputType="number"
            [valid]="readTime.valid || readTime.pristine" />

        <app-input (change)="getHeaderPhoto($event)" formControlName="headerPhoto" label="Foto encabezado (Imagen)"
            inputPlaceholder="Ingrese la foto que se verá en el artículo" inputType="file"
            [valid]="headerPhoto.valid || headerPhoto.pristine" />

        <app-input (change)="getThumbanil($event)" formControlName="thumbnail" label="Portada (Imagen)"
            inputPlaceholder="Ingrese la portada del artículo" inputType="file"
            [valid]="thumbnail.valid || thumbnail.pristine" />

        <app-section-select formControlName="section" section1="The Thought" section2="Dear Fashion"
            section3="Mucho más que anuncios" label="Sección" />

        <article class="formGroup">
            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
            <ngx-editor formControlName="editorContent" [editor]="editor" [ngModel]="html" [disabled]="false"
                [placeholder]="'Escriba aquí el contenido de su artículo'"></ngx-editor>
        </article>

        <app-button [valid]="createArticleForm.valid" (click)="createArticle($event)" buttonValue="Crear artículo" />

    </form>
</article>