.theThought
    margin: 5rem auto
    .title
        margin: 3rem auto
        h1
            color: #9C1726
            text-align: center
            font-size: 3rem
            font-family: "bodoniflf", serif

    .articles
        display: grid
        grid-template-columns: repeat(2,33%)
        gap: 3rem
        justify-content: center

    .extraArticles
        display: grid
        gap: 3rem
        margin: 3rem auto
