<article class="adminArticleList">

    <h1>Lista de todos los artículos</h1>


    <section class="articles">
        @for (article of articles; track $index) {
        <a routerLink="/admin/articles/edit/{{article.id}}">
            <app-article-card routerLink="/writer/articles/edit/{{article.id}}" photo="{{imgURL}}{{article.thumbnail}}"
                title="{{article.title}}" description="{{article.description}}"
                readTime="{{article.readTime}} minutos de lectura" date="{{article.date}}"></app-article-card>
        </a>
        }
    </section>
    
</article>