.inicio
    margin: 5rem auto
    .phrase
        color: #9C1726
        text-align: center
        font-size: 3rem

    .topArticles
        display: grid
        grid-template-columns: repeat(4,25%)
        gap: 1rem