<article class="inicio">
    <section class="phrase">
        <p>"La moda no es algo que sólo existe en vestimenta. La moda es en el cielo, en la calle, la moda tiene que ver
            con ideas, la forma en la que vivimos, lo que está sucediendo."</p>
        <p>-Coco Chanel</p>
    </section>



    <section class="topArticles">
        @for (n of nArticles; track $index) {
        <app-article-card photo="images/prueba.jpeg"
            description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet metus ut mauris volutpat tincidunt. Aliquam sit amet rutrum nisl. Integer auctor nunc quam, auctor posuere est porttitor nec. Maecenas maximus arcu at ultricies facilisis. Pellentesque at nisl sit amet tellus interdum accumsan vitae a magna. Donec et congue nibh, ut volutpat nibh. Mauris eu eleifend purus, id pretium eros. Nullam et lectus quis ipsum aliquam tincidunt sodales ac neque. Proin efficitur tempor ipsum, ac pharetra purus. Sed a leo consectetur dui volutpat consequat. Phasellus at augue eu felis molestie hendrerit. Nullam eget justo sollicitudin, pulvinar metus viverra, rhoncus ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae" />
        }
    </section>
</article>