<article class="userEdit">

    <form class="userForm" [formGroup]="userForm">
        <h1>Información del perfil</h1>
        <app-input [valid]="name.valid||name.pristine" formControlName="name" label="Nombre" inputPlaceholder="Ingrese su nombre" inputType="text" />
        <app-input [valid]="surname.valid||surname.pristine" formControlName="surname" label="Apellido/s" inputPlaceholder="Ingrese sus apellidos" inputType="text" />
        <app-input [valid]="username.valid||username.pristine" formControlName="username" label="Nombre de usuario" inputPlaceholder="Ingrese su nombre de usuario" inputType="text" />
        <app-input [valid]="email.valid||email.pristine" formControlName="email" label="E-mail" inputPlaceholder="Ingrese su correo electrónico" inputType="email" />
        <app-role-select formControlName="role" role1="user" role1Name="Usuario" role2="writer" role2Name="Escritor" label="Rol"></app-role-select>
        
        <app-button [valid]="userForm.valid" (click)="editUser($event)" buttonValue="Editar perfil"/>
    </form>

    

</article>