<article class="registerDialog">
    <dialog  class="dialog" #dialog data-modal>

        <button class="closeButton" (click)="closeDialog()">
            <img src="images/close.png" alt="">
        </button>

        <form [formGroup]="registerForm">
            <h1>Registrarse</h1>
            <app-input formControlName="name" label="Name" inputPlaceholder="Ingrese su nombre" inputType="text" />
            <app-input formControlName="surname" label="Surname" inputPlaceholder="Ingrese sus apellidos" inputType="text" />
            <app-input formControlName="username" label="Nombre de usuario" inputPlaceholder="Ingrese su nombre de usuario" inputType="text" />
            <app-input formControlName="email" label="E-mail" inputPlaceholder="Ingrese su correo electrónico" inputType="email" />
            <app-input formControlName="password" label="Contraseña" inputPlaceholder="Ingrese su contraseña" inputType="password" />
            <app-button (click)="register($event)" buttonValue="Registrarse"/>
        </form>

        

    </dialog>
</article>