<article class="profile">

        <form class="profileForm" [formGroup]="profileForm">
            <h1>Información del perfil</h1>
            <app-input formControlName="name" label="Nombre" inputPlaceholder="Ingrese su nombre" inputType="text" />
            <app-input formControlName="surname" label="Apellido/s" inputPlaceholder="Ingrese sus apellidos" inputType="text" />
            <app-input formControlName="username" label="Nombre de usuario" inputPlaceholder="Ingrese su nombre de usuario" inputType="text" />
            <app-input formControlName="email" label="E-mail" inputPlaceholder="Ingrese su correo electrónico" inputType="email" />
            <app-input formControlName="password" label="Contraseña" inputPlaceholder="Ingrese su contraseña" inputType="password" />
            <app-button (click)="editProfile($event)" buttonValue="Editar perfil"/>
        </form>

        

</article>