<article class="articleView">

    <section class="photo">
        <img src="{{article.photo}}" alt="Portrait photo">
    </section>

    <section class="date">
        <p>{{article.date}}</p>
    </section>

    <section class="time">
        <p>- {{article.readTime}} minuto de lectura -</p>
    </section>

    <section class="section">
        <p>{{article.section}}</p>
    </section>

    <section class="title">
        <h1>{{article.title}}.</h1>
    </section>

    <section class="content" [innerHTML]="article.content">

        

    </section>

    <section class="firma">
        <img src="images/firma.png" alt="">
    </section>

    
</article>
