<article class="articleView">

    <section class="photo">
        <img src="images/4kImage.jpg" alt="">
    </section>

    <section class="time">
        <p>- 1 minuto de lectura -</p>
    </section>

    <section class="title">
        <h1>El artículo de prueba.</h1>
    </section>

    <section class="content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at mi id dui tempor interdum. Donec sollicitudin, felis at iaculis suscipit, augue tortor sollicitudin sem, eget tincidunt tellus sapien eget orci. Nulla hendrerit erat ac nulla mattis consectetur. Vestibulum vitae turpis faucibus, pulvinar est id, cursus quam. Donec a felis sed orci convallis tincidunt. Integer elementum nibh mauris, at pulvinar magna consequat ut. Sed id leo nec diam commodo ultrices. Duis vel congue lorem, vitae dictum lectus. Aenean mattis fermentum viverra. Vestibulum eget fermentum turpis, non mattis ante.
            
            Cras malesuada dui vel tortor ullamcorper, ac fermentum dolor fermentum. Vestibulum condimentum, leo et aliquet pulvinar, turpis augue suscipit dui, vitae tempus dui ipsum et libero. Nunc a ipsum turpis. Donec porta dui ut ipsum laoreet lobortis. Curabitur et ornare metus, et blandit sapien. Fusce libero erat, bibendum et nunc nec, scelerisque vehicula tellus. Sed sit amet tempor tortor. Sed vitae elit ut est dapibus placerat. Duis dignissim dignissim accumsan. Etiam at nunc sit amet lacus commodo sagittis. Donec sodales a urna id suscipit. Morbi commodo augue eu porttitor varius. 
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at mi id dui tempor interdum. Donec sollicitudin, felis at iaculis suscipit, augue tortor sollicitudin sem, eget tincidunt tellus sapien eget orci. Nulla hendrerit erat ac nulla mattis consectetur. Vestibulum vitae turpis faucibus, pulvinar est id, cursus quam. Donec a felis sed orci convallis tincidunt. Integer elementum nibh mauris, at pulvinar magna consequat ut. Sed id leo nec diam commodo ultrices. Duis vel congue lorem, vitae dictum lectus. Aenean mattis fermentum viverra. Vestibulum eget fermentum turpis, non mattis ante.
            
            Cras malesuada dui vel tortor ullamcorper, ac fermentum dolor fermentum. Vestibulum condimentum, leo et aliquet pulvinar, turpis augue suscipit dui, vitae tempus dui ipsum et libero. Nunc a ipsum turpis. Donec porta dui ut ipsum laoreet lobortis. Curabitur et ornare metus, et blandit sapien. Fusce libero erat, bibendum et nunc nec, scelerisque vehicula tellus. Sed sit amet tempor tortor. Sed vitae elit ut est dapibus placerat. Duis dignissim dignissim accumsan. Etiam at nunc sit amet lacus commodo sagittis. Donec sodales a urna id suscipit. Morbi commodo augue eu porttitor varius. 
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at mi id dui tempor interdum. Donec sollicitudin, felis at iaculis suscipit, augue tortor sollicitudin sem, eget tincidunt tellus sapien eget orci. Nulla hendrerit erat ac nulla mattis consectetur. Vestibulum vitae turpis faucibus, pulvinar est id, cursus quam. Donec a felis sed orci convallis tincidunt. Integer elementum nibh mauris, at pulvinar magna consequat ut. Sed id leo nec diam commodo ultrices. Duis vel congue lorem, vitae dictum lectus. Aenean mattis fermentum viverra. Vestibulum eget fermentum turpis, non mattis ante.
            
            Cras malesuada dui vel tortor ullamcorper, ac fermentum dolor fermentum. Vestibulum condimentum, leo et aliquet pulvinar, turpis augue suscipit dui, vitae tempus dui ipsum et libero. Nunc a ipsum turpis. Donec porta dui ut ipsum laoreet lobortis. Curabitur et ornare metus, et blandit sapien. Fusce libero erat, bibendum et nunc nec, scelerisque vehicula tellus. Sed sit amet tempor tortor. Sed vitae elit ut est dapibus placerat. Duis dignissim dignissim accumsan. Etiam at nunc sit amet lacus commodo sagittis. Donec sodales a urna id suscipit. Morbi commodo augue eu porttitor varius. 
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at mi id dui tempor interdum. Donec sollicitudin, felis at iaculis suscipit, augue tortor sollicitudin sem, eget tincidunt tellus sapien eget orci. Nulla hendrerit erat ac nulla mattis consectetur. Vestibulum vitae turpis faucibus, pulvinar est id, cursus quam. Donec a felis sed orci convallis tincidunt. Integer elementum nibh mauris, at pulvinar magna consequat ut. Sed id leo nec diam commodo ultrices. Duis vel congue lorem, vitae dictum lectus. Aenean mattis fermentum viverra. Vestibulum eget fermentum turpis, non mattis ante.
            
            Cras malesuada dui vel tortor ullamcorper, ac fermentum dolor fermentum. Vestibulum condimentum, leo et aliquet pulvinar, turpis augue suscipit dui, vitae tempus dui ipsum et libero. Nunc a ipsum turpis. Donec porta dui ut ipsum laoreet lobortis. Curabitur et ornare metus, et blandit sapien. Fusce libero erat, bibendum et nunc nec, scelerisque vehicula tellus. Sed sit amet tempor tortor. Sed vitae elit ut est dapibus placerat. Duis dignissim dignissim accumsan. Etiam at nunc sit amet lacus commodo sagittis. Donec sodales a urna id suscipit. Morbi commodo augue eu porttitor varius. 

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at mi id dui tempor interdum. Donec sollicitudin, felis at iaculis suscipit, augue tortor sollicitudin sem, eget tincidunt tellus sapien eget orci. Nulla hendrerit erat ac nulla mattis consectetur. Vestibulum vitae turpis faucibus, pulvinar est id, cursus quam. Donec a felis sed orci convallis tincidunt. Integer elementum nibh mauris, at pulvinar magna consequat ut. Sed id leo nec diam commodo ultrices. Duis vel congue lorem, vitae dictum lectus. Aenean mattis fermentum viverra. Vestibulum eget fermentum turpis, non mattis ante.
            
            Cras malesuada dui vel tortor ullamcorper, ac fermentum dolor fermentum. Vestibulum condimentum, leo et aliquet pulvinar, turpis augue suscipit dui, vitae tempus dui ipsum et libero. Nunc a ipsum turpis. Donec porta dui ut ipsum laoreet lobortis. Curabitur et ornare metus, et blandit sapien. Fusce libero erat, bibendum et nunc nec, scelerisque vehicula tellus. Sed sit amet tempor tortor. Sed vitae elit ut est dapibus placerat. Duis dignissim dignissim accumsan. Etiam at nunc sit amet lacus commodo sagittis. Donec sodales a urna id suscipit. Morbi commodo augue eu porttitor varius. 
        </p>
    </section>
</article>
