<article class="inicio">

    <app-carousel></app-carousel>

    <section class="phrase">
        <p>"La moda no es algo que sólo existe en <span class="bold">vestimenta</span>. La moda es en el <span
                class="bold">cielo</span>, en la <span class="bold">calle</span>, la moda tiene que ver
            con <span class="bold">ideas</span>, la <span class="bold">forma en la que vivimos</span>, lo que <span
                class="bold">está sucediendo</span>."</p>
        <p class="italic">-Coco Chanel</p>
    </section>

    <section class="topArticles">
        @for (article of topArticles; track $index) {
        <app-article-card [id]="article.id" [title]="article.title" [description]="article.description" [photo]="imgURL+article.photo"
            [readTime]="article.readTime" />
        }
    </section>


    <section class="extraArticles">
        @for (article of allArticles; track $index) {
            <app-article-card [id]="article.id" [title]="article.title" [description]="article.description" [photo]="imgURL+article.photo"
                [readTime]="article.readTime" [extra]="true" />
            }
    </section>
</article>