@if(extra){
<a routerLink="/articles/{{id}}">
    <article class="extraArticle">

        <section class="photo">
            <img src="{{photo}}" alt="">
        </section>

        <section class="content">
                <h2 class="title">{{title}}</h2>
                <h3 class="date">{{date}}</h3>
                <h3 class="readTime">- {{readTime}} -</h3>
        </section>
    </article>
</a>
}


@else {
<a routerLink="/articles/{{id}}">
    <article class="article">
        <section class="photo">
            <img src="{{photo}}" alt="">
        </section>

        <section class="content">
            <section class="title">
                <h2>{{title}}</h2>
            </section>

            <section class="description">
                <p>{{description}}</p>
            </section>
        </section>
    </article>
</a>
}