<article class="articleView">

    <section class="photo">
        <img src="{{imgURL}}{{article.photo}}" alt="Portrait photo">
    </section>

    <section class="date">
        <p>{{article.date}}</p>
    </section>

    <section class="time">
        @if (article.readTime == "1") {
            <p>- {{article.readTime}} minuto de lectura -</p>
        }@else {
            <p>- {{article.readTime}} minutos de lectura -</p>
        }
        
    </section>

    <section class="section">
        <p>{{article.section}}</p>
    </section>

    <section class="title">
        <h1>{{article.title}}.</h1>
    </section>

    <section class="content" [innerHTML]="article.content">

        

    </section>

    <section class="firma">
        @if(this.article.writer.signature == null){
            <img src="images/firma.png" alt="">
        }@else {
            <img src="{{this.signatureURL}}{{this.article.writer.signature}}" alt="">
        }

        
    </section>

    
</article>
